%article
  %header
    .title.pull-left
      %strong
        Cláusula informativa (art. 5 LOPD) 
  %section
    %p
      En cumplimiento con lo establecido en la Ley Orgánica 15/1999, de 13 de diciembre,
      de Protección de Datos de Carácter Personal, le informamos que sus datos
      personales serán tratados y quedarán incorporados en ficheros responsabilidad de
      “ION6”,registrados en la Agencia Española de Protección de Datos, con
      la finalidad de “GESTIÓN DE ALTA DE PARTICIPANTES EN EL EVENTO LAS PALMAS LAN, 
      SISTEMA DE NOTIFICACIÓN DE INFORMACIÓN RELACIONADA CON EL EVENTO Y PRÓXIMAS EDICIONES, 
      DIFUSIÓN DE INFORMACIÓN SOBRE OTRAS ACTIVIDADES DE LA ORGANIZACIÓN”.
    %p
      Los datos que se le solicitan resultan necesarios, de manera que de no facilitarlos no
      será posible la prestación del servicio requerido, en este sentido, usted consiente
      expresamente la recogida y el tratamiento de los mismos para la citada finalidad.
    %p
      En todo caso, puede ejercitar los derechos de acceso, rectificación, cancelación y
      oposición dirigiéndose a la sede social, sita en info@ion6.net.
    %p
      Le rogamos que en el supuesto de producirse alguna modificación en sus datos de
      carácter personal, nos lo comunique con el fin de mantener actualizados los mismos.
