%h1
  .title  
    CALENDAR
%ul.row-fluid.mycalendar
  - @days.each do |day|
    = day.day_date
    %li.span6
      .span2
        day.event.event_time
      .span10
        day.event.description

.span2.offset5
  = link_to manage_calendar_new_path, class: "btn btn-large" do
    %i.icon-plus
    New Day  
