.row
  %ul.span12.enrollments
    %li.span3.offset3.enrollment
      %ul
        %li
          %strong Inscripción LAN:
        %li Entrada al evento todos los días.
        %li Participación en 2 torneos de consolas.
        %li Participación en 2 torneos de PC.
        %li Disfrute del recinto y todas sus actividades
        %li= link_to "inscribirse 29€", u_enrollment_new_path

    %li.span3.enrollment
      %ul
        %li
          %strong Inscripción consolas:
        %li Entrada al evento mientras duren las competiciones.
        %li Participación en 2 torneos de consolas.
        %li Uso del área de consolas.
        %li Disfrute del recinto y todas sus actividades mientras compite.
        %li= link_to "inscribirse 9€",u_game_enrollment_new_path
