-if @days.count > 0
  .row-fluid.mycalendar
    - @days.each do |day|
      %ul.span4
        %li.span12
          = day.day_date.strftime("%d/%m/%Y")
        - day.events.order('event_time').each do |event|
          .span10.eventspan
            %li.span10
              .span4
                = event.event_time.strftime("%H:%M")
              .span8  
                = event.description
-else
  Lo sentimos aun no esta confirmado el programa, lo pondremos lo antes posible.
