%table.table.table-bordered.table-striped.table-hover
  %tr
    %th
      Fecha
    %th
      Hora
    %th
      Evento
    %th
      Edición

  - @days.each do |day|
    %tr
      %th
        = day.day_date
      %th
        - if day.events.present?
          - day.events.each do |event|
            = event.event_time.strftime("%H:%M")
            %br
            %p
              ______
      %th
        - if day.events.present?
          - day.events.each do |event|
            = event.description
            %br
            %p
              _____
