%article
  %header
    .title.pull-left
      %strong
        = @tournament.game
    .social.pull-right
      = content_tag :div, "",class: "twitter", data: {text: @tournament.game, url: competitions_path(@tournament.id)}
      = content_tag :div, "",class: "facebook", data: {text: @tournament.game, url: competitions_path(@tournament.id)}
  %section
    = @tournament.description.html_safe
