%article
  %header
    .title.pull-left
      %strong
        Inscripción:
  %section
    %p
      La inscripción al evento como participante, se realizará únicamente por medio de la web.
      El proceso de inscripción consta de el alta del participante en la web,
      y el posterior pago de la entrada mediante alguna de la formas estipuladas.
    %p
      Aquellos participantes que no formalicen el pago de la entrada,
      no obtendrán plaza en el evento. En caso de haber lista de espera para nuevas inscripciones,
      aquellos participantes que no formalicen su pago en menos de 48 horas, podrían perder su plaza.
    %p
      Aquellos participantes que entren en lista de espera, serán notificados en el momento de la inscripción,
      y no deberán realizar el pago de la entrada, hasta que se les notifique que han obtenido plaza.
    %p
      Página web oficial:
      = link_to root_url

  %u Asistencia de menores al evento:
  %section
    %p
    %p
      Podrán participar en en el evento, todos aquellos menores de 18 años nacidos antes de 1997 (inclusive),
      que presenten una autorización firmada por sus padres o tutores,
      haciéndose responsables del comportamiento del menor en el recinto y
      de los daños que los interesados pudieran sufrir u ocasionar durante todo el evento.
    %p
      Sin embargo, se hace constar que la Organización no se responsabiliza de los participantes
      menores de 18 años.
    %p
      Para el resto de menores, el procedimiento que deberán seguir es el siguiente:
      %ol
        %li
          Solicitar al tutor legal del menor que cumplimente la siguiente
          = link_to  "plantilla","http://s3-eu-west-1.amazonaws.com/inexus/attachments/13/original_plantilla_autorizacion_menores.pdf?1353005316"
          para que éste pueda asistir al evento. Sólamente podrán firmar la autorización a un menor de edad:
          %ul
            %li Uno de los padres del menor de edad.
            %li El tutor legal del menor de Edad.
        %li  Presentar la autorización firmada en el momento de la entrada al evento.
    %p
      Aquellos menores nacidos después de 1997 que quisieran asistir,
      deberán hacerlo acompañados de un adulto, que será nombrado en la autorización firmada.

  %header
    .title.pull-left
      %strong
        Normas de actuación y convivencia:
  %section
    %ul
      %li
        Está terminantemente prohibido fumar dentro de las instalaciones. Se habilitará un espacio para fumadores anexo al recinto.
      %li
        No se permitirá la introducción ni consumo de bebidas alcohólicas en el interior del recinto, así como de otras sustancias ilegales.
        La entrada al recinto en un claro estado de alteración de conciencia podrá ser denegada.
      %li
        Queda prohibido el uso de altavoces.
      %li
        Está prohibida la introducción al interior del recinto de cualquier sustancia u objeto que pueda suponer
        un peligro serio para la integridad física de la persona o del resto de los participantes.
      %li
        Cualquier práctica que suponga un riesgo para la infraestructura de la red, ya sea con el fin de sabotearla o por uso irresponsable,
        será considerada una falta grave.
      %li
        La Organización podrá expulsar a cualquier persona que no cumpla las normativas aceptadas si lo considera oportuno y necesario.
      %li Los inscritos en el "Las Palmas Party" deben tener en todo momento su acreditación en lugar bien visible.
      %li
        El recinto permanecerá abierto para los inscritos las 24 horas del día, pudiendo acceder y
        salir del mismo a cualquier hora presentando a los encargados del control de accesos y salidas su acreditación y DNI.
      %li
        A los inscritos que pernocten en el recinto se les recomienda lleven saco de dormir y útiles de aseo.
      %li
        Tanto para acceder como para retirar sus pertenencias del recinto deben firmar un documento de registro y presentar al personal encargado su DNI.
      %li
        Todos los participantes deben llevar su ordenador completo (incluyendo monitor, teclado, ratón y otros periféricos que considere de su utilidad)
        y una regleta de conexión a la red eléctrica con protección tensión/fusibles.
      %li
        El uso de trucos en las competiciones y partidas está totalmente prohibido.
        La Organización se reserva el derecho a descalificar y/o expulsar a el/los usuario/s que utilice dichos métodos.
      %li
        La Organización en caso de cambios y novedades sobre Las Palmas Party lo comunicará a través de su página:
        = link_to root_url

  %header
    .title.pull-left
      %strong
        Cláusula informativa (art. 5 LOPD):
  %section
    %p
      En cumplimiento con lo establecido en la Ley Orgánica 15/1999, de 13 de diciembre,
      de Protección de Datos de Carácter Personal, le informamos que sus datos
      personales serán tratados y quedarán incorporados en ficheros responsabilidad de
      “ION6”,registrados en la Agencia Española de Protección de Datos, con
      la finalidad de “GESTIÓN DE ALTA DE PARTICIPANTES EN EL EVENTO LAS PALMAS LAN, SISTEMA DE NOTIFICACIÓN DE INFORMACIÓN RELACIONADA
      CON EL EVENTO Y PRÓXIMAS EDICIONES, DIFUSIÓN DE INFORMACIÓN SOBRE OTRAS ACTIVIDADES DE LA ORGANIZACIÓN”.
    %p
      Los datos que se le solicitan resultan necesarios, de manera que de no facilitarlos no
      será posible la prestación del servicio requerido, en este sentido, usted consiente
      expresamente la recogida y el tratamiento de los mismos para la citada finalidad.
    %p
      En todo caso, puede ejercitar los derechos de acceso, rectificación, cancelación y
      oposición dirigiéndose a la sede social, sita en info@ion6.net.
    %p
      Le rogamos que en el supuesto de producirse alguna modificación en sus datos de
      carácter personal, nos lo comunique con el fin de mantener actualizados los mismos.

  %header
    .title.pull-left
      %strong
        Exenciones de responsabilidad:
  %section
    %ul
      %li
        La Organización no se hará responsable de robos, hurtos, roturas, virus informáticos, desapariciones,
        así como problemas eléctricos en los aparatos que el participante lleve al recinto.
        Se recomienda el uso de regletas de protección de tensión/fusibles o sistemas de alimentación ininterrumpida (SAI).
      %li
        La Organización no se responsabilizará de problemas causados por otros participantes ni visitantes del evento.
        Existirá un sistema de vigilancia y seguridad por parte de la Organización para evitar cualquier tipo de problema.
      %li
        La Organización no se hace responsable del software que puedan utilizar los participantes, ni de los datos que éstos posean.
  %header
    .title.pull-left
      %strong
        Devoluciones en caso de cancelación:
  %section
    %p
      En caso de cancelación del evento, se procederá a devolver el dinero a todos los participantes,
      o devolviendo el dinero en mano al enseñar el recibo de la transferencia, en Inexus Informática.
