%h3 Admins activados
%table.table.table-bordered.table-striped.table-hover
  %tr
    %th Email
    %th Desactivación

    - @admins_actived.each do |admin|
      %tr
        %td= admin.email
        %td
          - if current_admin == admin
            .btn.btn-warning.disabled
              %i.icon-unlock
          - else
            = link_to deactivate_admin_path(admin.id), method: :delete, data: { confirm: '¿Estás seguro de desactivar este admin?' }, class: "btn btn-warning with-tooltip" , :title => "Desactivar" do
              %i.icon-unlock

%h3 Admins desactivados
%table.table.table-bordered.table-striped.table-hover
  %tr
    %th Email
    %th Activación

    - @admins_deactived.each do |admin|
      %tr
        %td= admin.email
        %td
          = link_to activate_admin_path(admin.id), method: :delete, data: { confirm: '¿Estás seguro de activar este admin?' }, class: "btn btn-warning with-tooltip" , :title => "Activar" do
            %i.icon-lock


