<p>¡Hola <%= @resource.email %>!</p>

<p>Alguien has solicitado un enlace para cambiar tu contraseña. Puedes hacerlo a través del siguiente enlace.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no lo solicitaste, por favor ignora este email.</p>
<p>Tu contraseña no será cambiada a menos que accedas al enlace y crees una nueva.</p>
