<p>¡Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloquedada debido a los exesivos intentos al acceder.</p>

<p>Has click en el siguiente link  para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
