%p
  = "Hola #{@enrollment.first_name}!"

%p
  Sentimos comunicarte que el cupo de plazas de Las Palmas LAN 2012 está completo. Pero no te desanimes, esto no quiere decir que no vayas a obtener plaza. 
  Siempre hay gente que en el último momento no puede asistir al evento, o no termina de formalizar el pago, con lo que pasaremos a otorgar esas plazas que 
  queden libres por orden de fecha de entrada en la lista de espera. Además, no descartamos la posibilidad de ampliar plazas.

%p
  Por todo esto, es importante que estés atento a tu correo, ya que en caso de darte plaza, procederemos a enviarte un correo para que formalices el pago, 
  y si no obtenemos contestación, le daremos tu plaza a otra persona de la lista de espera.

%p
  Aún así, muchas gracias por confiar en nosotros, esperamos que finalmente nadie se quede sin poder asistir al evento, pero si finalmente no obtienes plaza, 
  esperamos verte el año que viene.


%p 
  El equipo de Las Palmas LAN 2012
