%h1
  %i.icon-list-alt
  Posts
.span10.offset1
  %table.table.table-bordered.table-striped.table-hover
    %tr
      %th Título
      %th Acciones

      - @posts.each do |post|
        %tr
          %td= post.title
          %td
            .btn-group
              = link_to  post, class: "btn" do
                %i.icon-file
              = link_to edit_post_path(post), class: "btn" do
                %i.icon-pencil
              = link_to post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" do
                %i.icon-trash


