%h1.well Blog
- @posts.each do |post|
  %article
    %header
      .title
        = link_to post.title, post
      .social
    %section
      = post.intro
    %footer
      .read_more
        = link_to 'Leer más >>', post


= link_to 'New Post', new_post_path
