- @posts.each do |post|
  %article
    %header
      .title.pull-left
        %strong
          = link_to post.title, article_path(post)
      .social.pull-right
        = social_share_button_tag(post.title, link: article_url(post)) 
    %section
      = post.intro.html_safe
    %footer
      .read_more
        = link_to 'Leer más >>', article_path(post)
