//general colors
$white: white;
$whiteTransparent: rgba(255, 255, 255, 0.5);
$black: black;
$red: #D90000;
$transparent: transparent;
//greys
$boulder: #777777;
$silverChalice: #AAAAAA;
// general
//body colors
$bodyBgColor: $black;
$bodyFontColor: $white;
//header colors
$navLinksColor: $white;
$countdownBgColor: $whiteTransparent;
$countdownColor: $black;
//tickets colors
$ticketsBg: $white;
$captionBg: $black;
$captionColor: $white;
$ticketTitle: $black;
//footer
$footerColor: $white;
$footerBorderColor: $white;
// whiteSection colors
$whiteSectionBg: $white;
$whiteSectionColor: $black;
$sectionListVBorderColor: $silverChalice;
$fistDivColor: $silverChalice;
