// Setting up the Magic Grid
$total-columns: 12; // 12 columns
$column-width: 55px; // columns are 4em wide
$gutter-width: 20px; // with 1em gutters
$grid-padding: 50px; // and 1em padding on the grid container

