/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require print-preview
 */
@import "compass";
@import "bootstrap";
@import "font-awesome";

//overwrite bootstrap
.navbar {
  .nav {
    li{
      .dropdown-toggle {
        .caret{
          border-top-color: $textColor;
        }
      }
    }
    li.active{
      .dropdown-toggle {
        .caret{
          border-top-color: $white;
        }
      }
    }
    li.alone a {
      font-size: 22px;
    }
  }
}
.navbar .container {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}
.table{
  tr{
    td, th{
      text-align:center
    }
  }
}

// general

//calendar format

.row-fluid .span6{
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 8px;
}
// forms

.form-inputs {
  textarea, .cke_skin_kama {
    width: 98.5%;
  }
  input[type="checkbox"], input[type="radio"] {
    width:auto;
  }
}
#enrollment_last_name {
  width: 414px;
}
#enrollment_dni_l{
  text-transform: uppercase;
}
form {
  .description {
    margin-top: 5px;
  }
  .checkboxes {
    margin-top: 5px;
    input {
      margin: 0;
    }
    label {
      display: inline;
      margin-left: 2px;
    }
    .form-inputs {
      .flields {
        fieldset{
          textarea {
            width: 88.5%;
          }
        }
      }
    }
  }
}
//fixed chrome up/down arrows
form input[type='number']::-webkit-outer-spin-button,
form input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// pint links
#print-modal-controls a.print {
  background: url(icon-print.png) no-repeat 50% 50%;
}
#print-modal-controls a.close {
  background: url(icon-close.png) no-repeat 50% 50%;
}
.print {
  display: none;
}
