@import "bourbon";
@import "bootstrap";
@import "font-awesome";

//overwrite bootstrap
.navbar .container {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.table{
  tr{
    td, th{
      text-align:center
    }
  }
}

// general

//calendar format

.row-fluid .span6{
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 8px;
}

