header, a.print-preview, table {
  display:none;
}
.print {
  list-style:none;
  padding: 0;
  .enroll {
    width: 9.5cm;
    height: 6.4cm;
    float:left;
    margin: 5px 5px 5px 0px;
    &:nth-child(2n) {
      float:right;
    }
    ul {
      list-style: none;
      margin: 5px;
      padding: 0;
      position: relative;
      .image {
        position: absolute;
        top: 0;
        img {
          width: 9.5cm;
          height: 6.4cm;
          float: left;
        }
      }
      .name {
        position: absolute;
        top: 100px;
        left: 144px;
        width: 188px;
      }
      .dni{
        position: absolute;
        top: 138px;
        left: 150px;

      }
      .age{
        position: absolute;
        top: 160px;
        left: 166px;

      }
      .type{
        position: absolute;
        top: 186px;
        left: 168px;
      }
    }
  }
}

