header, a.print-preview, table tr:first-child, tr td:last-child,
tr td:nth-child(7n), tr td:nth-child(8n) {
  display:none;
}

tr { 
  width: 324px;
  height: 211px;
  display: inline-block;
  list-style: none;
  margin: 5px;
  font-size: 14px;
  position: relative;
  td {
    display: list-item;
    width: 193px;
    position: absolute;
    line-height: 12px;
    &:first-child img {
      float:left;
    }
    &:nth-child(2n) {
    margin-left: 116px;
      top: 78px;
      &:before {
        content: "Nombre: ";
        font-weight: bold;
      }
    }
    &:nth-child(3n) {
    margin-left: 116px;
      top: 104px;
      &:before {
        content: "DNI: ";
        font-weight: bold;
      }
    }
    &:nth-child(4n) {
    margin-left: 228px;
      top: 104px;
      &:before {
        content: "Edad: ";
        font-weight: bold;
      }
    }
    &:nth-child(5n){
    margin-left: 116px;
      top: 128px;
      &:before {
        content: "Email: ";
        font-weight: bold;
      }
    }
    &:nth-child(6n){
    margin-left: 116px;
      top: 152px;
      &:before {
        content: "Inscripción: ";
        font-weight: bold;
      }
    }
  }
}
