%html
  %head
    %title Lpl
    = stylesheet_link_tag    "admin", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.admin
    %header
      .navbar
        .navbar-inner
          .container
            .brand Administración
            %ul.nav
              -if current_page?(posts_path)
                %li.active
                  =link_to "Manage posts", posts_path  
              -else
                %li
                  =link_to "Manage Posts", posts_path



    .container
      .fow-fluid
        = yield
