%html
  %head
    %title Lpl
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      %header
        #banner
          #logo.well
            .title
              %span.l
                l
              %span.p
                p
              %span.l
                l
            .description
              %span.las
                las
              %span.palmas
                palmas
              %span.lan
                lan

        %ul.nav.pull-left.well
          -if current_page?(blog_path) or current_page?(root_path) or current_page?(article_path)
            %li
              =link_to "Blog", root_path, class: "active" 
          -else
            %li
              =link_to "Blog", root_path

        %ul.slide-control.pull-right
          %li
            %div.active 
          %li
            %div 
          %li
            %div 
          %li
            %div

        .slide.active
          %span.slide-title
            Talleres
          %span.slide-content
            Ruby on rails, Máquinas virtuales, Cheff, Modelado 3d ...
        .slide
          %span.slide-title
            Actividades
          %span.slide-content
            Ciencia fición, Paintball, Karting, Deportes extremos ...
        .slide
          %span.slide-title
            Videojuegos
          %span.slide-content
            StarCraft2, Call of duty, Fifa2012, ESL España ...
        .slide
          %span.slide-title
            Lan Party
          %span.slide-content
            Streaming, Modding, Torneos, Consolas ...

      = yield
