!!! 5
%html
  %head
    %title Las Palmas LAN 2012
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    <meta name="google-site-verification" content="_rU5LQyvI3emLQxMTxIqjf3zs998kmHDp-IAfduun3U" />
  %body
    .container
      %header
        #banner
          #logo.well

        %ul.nav.pull-left.well
          %li
            =link_to "Blog", root_path, class: (@current_controller == 'blog' ? "active" : nil) 

        %ul.slide-control.pull-right
          %li
            %div.active 
          %li
            %div 
          %li
            %div 
          %li
            %div

        .slide.active
          %span.slide-title
            Talleres
          %span.slide-content
            Ruby on rails, Máquinas virtuales, Cheff, Modelado 3d ...
        .slide
          %span.slide-title
            Actividades
          %span.slide-content
            Ciencia ficción, Paintball, Deportes extremos ...
        .slide
          %span.slide-title
            Videojuegos
          %span.slide-content
            StarCraft2, Modern Warfare 3, FIFA2012, League of Legends ...
        .slide
          %span.slide-title
            LAN Party
          %span.slide-content
            Streaming, Modding, Torneos, Consolas ...

      = yield
