%html
  %head
    %title Lpl
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      %header
        #banner
          #logo.well
            .title
              %span.l
                l
              %span.p
                p
              %span.l
                l
            .description
              %span.las
                las
              %span.palmas
                palmas
              %span.lan
                lan

        %ul.nav.nav-pills.pull-left
          %li
            =link_to "Blog", posts_path 
      = yield
